.sentWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.receivedWrapper {
    display: flex;
    width: 100%;
}

.messageContainer {
    padding: 10px 20px;
    max-width: 50%;
}

.sent {
    background-color: var(--zinc-secundary);
    border-radius: 10px 10px 0px 10px;
}

.received {
    background-color: var(--red-main);
    border-radius: 10px 10px 10px 0px;
}